.background-image {
    height: 100vh;
    background-size: cover;
  }

  @media (max-width: 1224px) {
	.background-image {
		display: flex;
		justify-content: center;
		background-position: center;
	}
  }