.weather-info {
    position: absolute;
    left: 121px;
    color: #ffffffd6;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .weather-info.active {
	transform: translateX(0);
  }
  
  .temperature {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    font-size: 10rem;
    margin-right: 30px;
  }
  
  .city {
    font-size: 4rem;
	margin: 0 0 0 0;
  }
  
  .date {
	font-size: 1rem;
	margin: 0 0 0 0;
  }

  .city-date-container {
    margin-right: 30px;
  }

  .weather-state {
    font-size: 1rem;
    margin-top: 33px;
    text-align: center;
  }

  .weather-state svg {
    font-size: 3rem;
	display: block;
  }
  
  @media (max-width: 1224px) {
	.weather-info {
		height: min-content;
		position: unset;
		flex-direction: column;
		margin-top: 190px;
	}
	
	.temperature {
		font-size: 7rem;
		margin-right: unset;
	}

	.city-date-container {
		margin-right: unset;
	}
  } 